html, body {
  height: 100%;
  margin:0;
  border:0;
}
.map {
  height: 100%;
  width: 100%;
}
#readout {
  font-size:30px;
  position:absolute;
  top:10px;
  left:50px;
  width: 75%;
}
#info {
  font-size:30px;
  text-transform:uppercase;
  width: 100%%;
  max-width: 300px;
}
.cross {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left:50%;
  margin-top: -40px;
  margin-left: -40px;
  pointer-events: none;
  opacity: 0.5;
}
